<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{ slug }}</h1>
Langue : {{ lang }}<br />
Format : {{ format }}   <br />
Année : {{ annee }}<br />

<a href="{{ path('Blog_page', { page:annee })}}">Retour à la page {{ annee }}</a><br/>


</body>
</html>