{% extends "blogBundle::layout_admin.html.twig" %}
{% import "blogBundle::macro.html.twig" as macro_users %}

{% block title %}Liste des articles| {{ parent() }}{% endblock %}
{% block arianne %}{{ parent() }}> Liste des articles{% endblock %}

{% block body %}
    {{ parent() }}

{% for key, article in articles %}
<article>
    <header>
    <h1>{{ article.titre }}</h1>
    <p>
        {# ceci est un commentaire #}
        Article n° : {{ key }}<br />
        {%  set participants = '' %}
        {% for auteur in article.auteurs %}
        {% if auteur.createur %}

            Créé par  {{ macro_users.link_user(auteur) }}
            {% else %}
            {%  set participants = participants ~ auteur.username ~','  %}
            {% endif %}
            {% endfor %}
        avec la participation de {{ participants }}
        <br />
       le  {{ article.date|date('d/m/Y') }}

    </p>
    </header>
        <p>
            {{ article.contenu|raw }}
        </p>
</article>
{% endfor %}

{% include "blogBundle:Public:inclu.html.twig" %}
{% endblock %}